[2019-05-16 19:11] DaanVanYperen commented on #570
PoC done! :) Just need to pivot subclasses to `@Graft`s.

![image](https://user-images.githubusercontent.com/6305602/57878725-f49e2b00-781a-11e9-9d88-ac5a073bbb1e.png)

[2019-05-16 19:12] DaanVanYperen commented on #570
Debug plugin is finding issues in Jam library i've been using for years.

(delete component after `entity.removeFromWorld`).

[code]

[2019-05-16 19:57] DaanVanYperen opened #574 "[Question] How is @EntityId supposed to work on IntBags?"
@Junkdog Another one after running the debugger ;)

**Observed** `@EntityId` with CHECK_SOURCE_AND_TARGETS cleans up ints and IntBags, on EntityLinkManager proces.
**Expected** `@EntityId` with CHECK_SOURCE_AND_TARGETS cleans up deleted entities, each time a system finishes processing.

Is this a regression or is it intended? What use is CHECK_SOURCE?

Tests for reproducing the above:
https://gist

[2019-05-17 09:27] junkdog commented on #574
I'll take a closer look tomorrow, but I think it's intentional. IIrc - only clean-up/callback when entity has been purged by the EntityManager, otherwise entities may be evicted prematurely (ie; "some" time before EntiySubcriptions have fired)

[2019-05-17 09:40] DaanVanYperen commented on #574
Purges are after each system invocation right? System1->purge->System2->etc.

Maybe I'm doing something wrong. As it is now, when I delete a referenced entity in System1, the @EntityId annotated reference continues to dangle throughout System2..SystemN until the EntityLinkManager is invoked and it is finally cleared.

[2019-05-17 09:47] junkdog commented on #573
It's a bit ugly. We basically have 2 deleted timelines: one works on the EntitySubscription layer, inserting/removing (primarily) to/from systems. `em.isActive` until purged by EntityManaged.

World.process() is considered atomic in the sense that no entity id:s are reused during the same process round - this avoids headaches + allows acting on deleted entities in later systems (limited, but if an

[2019-05-17 10:00] junkdog commented on #574
Ah, sorry, purge as the final step in process - ComponentManager and EntityManager purging/resetting

[2019-05-17 10:26] junkdog commented on #574
Ouch. Yeah, sounds like a bug with impl.

[2019-05-17 11:01] DaanVanYperen commented on #573
This might turn into a bit of a religious discussion, so sorry about that beforehand ;) You're a lot more read up on ECS.

I always thought of Systems as atomic operations in a pipeline. As a developer I have to be able to trust the data that goes into the system is current. If I can't, if other systems might have performed operations that I won't be aware of it would mean I have to consider imple

[2019-05-17 11:16] junkdog commented on #573
I think we're saying the same thing. Systems are atomic too, what I mean is that entity subscriptions are only updated before and after systems.process. It introduces a potential delay of 1 frame, but for all practical purposes - it should still happen in the same frame (say, act on input before processing frame).

The entity-system contract remains, but component deletion is scheduled until the e

[2019-05-17 12:16] DaanVanYperen commented on #573
So easy to confuse things with everything being called process.

`The entity-system contract remains, but component deletion is scheduled until the end of process().`

Before:
component deletion: immediatly, or post `System#process`
System#remove: post `System#process`
entity deletion: post `System#process`
subscriptions updated: post `Systems#process`

After:
component deletion: mid or post `Syst

[2019-05-17 12:29] junkdog commented on #573
Kinda:

what|Current Impl | Future
----|-------------- | -------------
component deletion | between systems or `@DelayedComponentRemoval`| Similar to `@DelayedComponentRemoval`
subscriptions updated | between systems, and on world.process() | first and last in world.process()
entity deletion | between systems, purge last on world.process() end |  first and last in world.process()
subscriptions upd

[2019-05-17 13:13] DaanVanYperen commented on #573
I agree with most of that except for the subscriptions. The future way of handling subscriptions would essentially extend the side effects of a system all the way till the end of `world.process`, instead of just keep them system local.

In the current impl, I can trust subscriptions to give me the entities of the specified composition, unless i break something locally in the system. In the future

[2019-05-17 13:18] DaanVanYperen commented on #574
Maybe `@LinkPolicy` javadoc can be clarified a bit as well. Especially how each option interacts with `@EntityId`.

[2019-05-17 13:22] junkdog commented on #573
But the subscriptions remains valid for the duration of `World::process`. It's just that component and entity deletion is scheduled for the end.

Ah, no - EntitySubscription:s listeners fire in tandem with the state changes.

Mapper.create() is thus only visible at the callsite where it was issued, and for the rest - when entity subscriptions are updated.

[2019-05-17 13:46] DaanVanYperen commented on #573
God I hate discussing this via text. :p

So if I kill Yak A in system 1, spawn a Yak B in system 2, and shave Yaks in system 3,  System 3 will shave the dead yak and ignore the new yak?

[2019-05-17 14:06] junkdog commented on #573
It's a fancy passing. The new yak is visible to System 3 the subsequent `World::process` round.

Hmm, as long as `BitmapAssetManager::remove` is an EntitySubscription listener and `BitmapAssetRenderer::processSystem` renders the entity - then yes. If so, yes - BitmapAsset would be accessible until the EntitySubscription listeners have fired (the next step would be to remove the components, delete

[2019-05-17 14:08] junkdog commented on #574
Yeah, I need to brush up on the inner workings as well... (a testament for the need for good documentation!)

[2019-05-17 14:57] DaanVanYperen commented on #573
We're still not synced up I think. Bit at a loss.

[2019-05-17 15:40] DaanVanYperen commented on #573
It's like we have a database on which we operate in series and now want to make operations effectively run in parallel. That's never going to happen without putting a lot of burden on the operation creators and having some amazing merge technology at the end.

[2019-05-17 16:34] junkdog commented on #573
Hmm, component data still mutate sequentially - but compositionId remains the same (and is valid) for each entity until end of World::process. One problem with the current implementation is that entities created by systems are never processed by preceding systems during their first round, so one has to be mindful about how/when entities are created. This applies doubly to when systems are re-order

[2019-05-17 16:36] junkdog commented on #573
(going out / back tomorrow)

[2019-05-17 18:15] DaanVanYperen commented on #573
Just trying to challenge the idea, not looking for a fight. ;)

Aspects make it so I can guarantee the system only gets what it can handle, or you implement an `EntitySpawnerSystem`. I can imagine it differs from user to user.

I'd personally struggle with it. It's less intuitive than it looks imo. it feels a bit like the pivot from OOP to ECS, not sure if users will manage to grok it.

**Stale da

[2019-05-17 19:37] DaanVanYperen commented on #573
I asked https://talktotransformer.com/

![image](https://user-images.githubusercontent.com/6305602/57951934-ecfa8700-78eb-11e9-84e2-809a1224942f.png)

[2019-05-17 19:42] junkdog commented on #573
No, this is interesting - I want us to be one the same page, there are obviously use-cases I haven't considered + views that have a different perspective. If the idea is flawed, it should not be implemented.

I'll expand tomorrow + include use-cases I'm trying to solve, when I return home.

[2019-05-18 08:36] DaanVanYperen commented on #573
It's your project so I'm happy to follow. It's a religious discussion in the same way most IntellIJ vs Eclipse discussions end up. I'm sure there must be ECS out there that do it this way, or a variant of it.

Tweaking the engine to be more flexible in how it handles lifecycle is not a bad thing, providing `DelayedEntityCreationInvocationStrategy` initially would allow people to PoC with it. Think

[2019-05-18 09:12] nanonull commented on #573
Guys, can I add my small opinion about 'entity processing lasts several frames when I'd want it took 1 frame'.

Sometimes logic in my game requires something like sub-world. I have a lot systems which calculates (invalidates/validates) unit parameters depending on unit position, attributes, effects, inventory, effects of inventory items, adjacent units and much more. Even worse, sometimes unit cal

[2019-05-18 14:23] DaanVanYperen commented on #570
Mostly done. Only grafting & fix debug plugin reporting listeners interacting with deleted entities as errors.

[2019-05-18 15:54] DaanVanYperen commented on #573
For the debugger it is now implemented as:
- `@DelayedComponentRemoval ` components are legal to interact with, until engine deletes entity.
- The only exception is adding components to the entity post deletion, that is treated as bad practice / error.

[2019-05-19 11:11] junkdog opened #576 "[FEATURE] extend any class with `@Graft.*` API"
Extend existing classes by grafting bytecode from *Transplant* classes. Transplants are plain java classes; annotations define interactions with the target class.

A custom classloader is responsible for applying the transformations at load-time. The classloader is setup either using a javaagent or prior to referencing any targeted classes.

Sprung from #570, refer to it for the discussion leading

[2019-05-19 11:37] DaanVanYperen commented on #576
Just as an aside, doesn't it make more sense to have this as a separate project that we pull in?

[2019-05-19 11:41] junkdog commented on #576
I thought about it, then decided against it - more well defined scope when only artemis is considered - but now I'm undecided again.

[2019-05-19 11:44] DaanVanYperen commented on #576
Can always incubate it as Artemis module and package it separately later.

[2019-05-19 11:48] junkdog commented on #576
https://github.com/junkdog/graftt - an extra 't' to avoid any name confusion, but annotation names stay the same.

Might be useful outside of artemis, so I guess skipping the temptation to do shortcuts is recouped pretty quickly.

[2019-05-19 11:50] DaanVanYperen commented on #576
I like the API a lot, really has a kotlin-y modern vibe to it. Sure it'll grow beyond what we'll use it for.

[2019-05-21 14:56] junkdog commented on #576
PSA: a lot of stuff at work and outside work for the remainder of the week; prob won't have time to do any work on it before the weekend

[2019-05-22 12:03] DaanVanYperen commented on #534
Potentially can be solved with 'com.google.code.findbugs:jsr305:3.0.2:sources' package.

[2019-05-22 16:14] DaanVanYperen commented on #534
Fixed by:
1. applying fix from https://stackoverflow.com/questions/27522728/unable-to-compile-the-gwt-module-while-trying-to-use-javax-annotation-nullable
2. Depend test module on gwt 2.8.2.

Took the opportunity to test the build on AdoptOpenJDK 11, as well as Oracle JDK 8 and 10, seems to work fine.

Got sidetracked a bit by the Jetty test launcher gwt-maven-plugin throwing a ClassNotFoundExcept

[2019-05-22 16:16] #534 closed

[2019-05-22 17:02] DaanVanYperen commented on #571
Implemented, in 3.0 we can remove the deprecated method.

[2019-05-22 20:05] DaanVanYperen opened #577 "[BUG] Fluid gradle plugin logging does not work."
The Fluid gradle plugin implements logging incorrectly, causing logging to not work.

## reproduce
Fluid project. Run `gradlew build -i`. Logging expected.

## Expected:
[code]

[2019-05-22 20:15] DaanVanYperen opened #578 "[BUG] Fluid plugin overzealous at scanning classpath."
When compiling with `gradlew fluid -i` (and logging fixed), the fluid plugin can be seen scanning loads of extra artifacts. To speed up compilation see Workaround below.

### Suggested fix

Properly document. Also consider making excludeFromClasspath match with regexp, right now it works by partial match, so if you exclude `artemis-odb` and your artifacts happen to be in the folder `my-artemis-odb

[2019-05-22 20:15] DaanVanYperen commented on #557
Updated gradle documentation and made a gradle hello world with just the essentials.

[2019-05-22 20:15] #557 closed

[2019-05-22 20:16] #577 closed

[2019-05-22 20:21] DaanVanYperen commented on #444
Closing, open since 2016.

[2019-05-22 20:21] #444 closed

[2019-05-22 20:22] DaanVanYperen commented on #456
Closing, very little benefit and open since 2016

[2019-05-22 20:22] #456 closed

[2019-05-22 20:27] DaanVanYperen commented on #513
Closing, no sponsor and open since 2017. Putting in the freezer, maybe we can revisit when value types are a thing.

[2019-05-22 20:27] #513 closed

[2019-05-22 20:31] DaanVanYperen commented on #528
Closing since this is a bit out of scope right now. Earmarking it if we ever start something fresh though!

[2019-05-22 20:31] #528 closed

[2019-05-22 20:32] DaanVanYperen commented on #537
This is still fairly highly requested.

[2019-05-22 20:33] DaanVanYperen commented on #538
https://github.com/DaanVanYperen/artemis-odb-examples juist fluid+gradle for now.

[2019-05-22 20:34] DaanVanYperen commented on #555
Covered by https://github.com/DaanVanYperen/artemis-odb-examples. Not really an integration test but should suffice. I build Jam games with the release fairly frequently so added value is limited atm.

[2019-05-22 20:34] #555 closed

[2019-05-23 12:45] mguldner commented on #564
I implemented what you proposed for a generic object of type EnumMap<T, U> (T and U being serializable objects according to artemis-odb).
Could it be useful to create a MR whit that ?

[2019-05-23 18:47] Mr00Anderson commented on #539
I am excited for Java 13+. have been hanging back with Java 8 because of the Unsafe Buffer removal and the performance it gives Networking on direct buffer reads.  I decided to use this library so I could skip out on libgdx and move up to the newest one when its time (Value Types, Valhalla, ext ext) if GWT and libgdx do not push on. I would think a lot of people are waiting to move on from Java 8,

[2019-05-23 19:47] Mr00Anderson opened #579 "[Question] Wiki Edits"
Is there a general process you want for updating the wiki?

I updated the serialization page. I know their are multiple ways of going it, but the methods listed did not work.

[2019-05-23 23:14] junkdog commented on #564
Cool! Please do :)

[2019-05-23 23:28] junkdog commented on #579
If you feel something is wrong, missing or otherwise in need of improvement - go ahead and edit.

Looking good contentwise, but github really likes cutting off code at the right margin. Maybe introduce a couple of linebreaks, alt shorten some variable names or dropping modifiers?

I guess we ought to consolidate all serialization examples - json, libgdx-json and kryo - under one page; right now ht

[2019-05-24 01:07] Mr00Anderson commented on #579
Json wikis would benefit from being merged. I think the plugin move with issue #467 can help that consolidation some.

The Wiki does feel spread out and broken up that its can become complicated to page back and fourth. Seems a lot to maintain for being agile as you and @DaanVanYperen.. (I've been thinking how to consolidate it and or have a single project example). I wanna help connect your libra

[2019-05-24 01:28] Mr00Anderson opened #580 "[BUG] NullPointerException at com.artemis.io.ArchetypeMapper.toClasses(ArchetypeMapper.java:46)"
I have been banging my head on the wall about this for two days. I have pinned the issue around Line 34 of ```ArchetypeMapper```

** Issue **
[code]

** Reproduce Steps **
[code]
AND
[code]

[2019-05-24 01:28] Mr00Anderson commented on #579
@junkdog I just learned that sometimes using the Java tags for MD causes the no scroll bars.

[2019-05-24 09:17] junkdog commented on #580
Hmm, I looks like an oversight on our end. Component mappers own own their component data, and artemis in turn assumes it owns/allocates all component mappers.

I _think_ this will work if you retrieve the mapper using `world.getMapper(TestComp.class)` instead of instantiating it yourself.

[2019-05-24 10:56] DaanVanYperen commented on #579
What timing! Was evaluating the wiki yesterday, sketching out some thoughts in gdoc.

What's missing most is structure and flow, and tailoring to user groups. Quality wise most of the content is concise and to the point, but it's spread out all over the place. Can be improved in consistency, some meandering pages could do with a makeover, and probably fill in some gaps.

Discord is filled with Ash

[2019-05-24 12:42] DaanVanYperen commented on #580
@junkdog how would you like this fixed? Package local `ComponentMapper` constructor and something like `ComponentMapper.of(TestComp.class, world)` that delegates construction to `world.getMapper()`?

[2019-05-24 12:44] DaanVanYperen commented on #562
For anyone visiting this ticket. There is a way to speed up fluid compiles by limiting classpath scope for the plugin: #578

[2019-05-24 13:18] Mr00Anderson commented on #580
I am not sure where

I see. I used it externally for a test. There a few ways to access items.

[2019-05-24 14:09] Mr00Anderson commented on #579
Oh its longer. I try to not chat. Get excited, you know.

Agreed. I will help makeover starting now as I use the pages.

I think having a full sample no matter the engine would help. I will make an extension to Artemis for this reason public, a second sample of examples and a editor. I just need to peal it out of my game lib. It will be messy at first, still testing the designs in practice. The co

[2019-05-24 15:28] Mr00Anderson commented on #579
I committed the code I have so far to the library I linked above. It runs and opens a reflective component reader. Its messy as well from testing but I was using ImGui-Kotlin before I switched to JImGui. Needless to say super early stages of work. I have a undocumented plan and it will come together rover the next month or so. I will now use the public repo though and make regular working commits

[2019-05-24 17:35] Mr00Anderson commented on #579
Updated my readme, so you can see kind of where I am going with this project,

[2019-05-25 16:42] nanonull opened #581 "[Question] [Feature?] Interval system without aspect?"
Hey!

Just wondering is there some system to execute at given interval but without entity aspect out of box?

What I want to achieve:
[code]

What I have now, example:
[code]

[2019-05-26 11:22] DaanVanYperen commented on #581
Nothing like that in odb as far as I'm aware. You'd typically just roll your own abstract class for things like this. `MyIntervalBaseSystem` with your `deltaAcc` logic in `checkProcessing`.

Not sure if it fits odb core but you could consider a PR to https://github.com/DaanVanYperen/artemis-odb-contrib/

[2019-05-26 18:42] DaanVanYperen commented on #538
Just using this as a scratch pad.
#title: Simplified world
#gutter: 30
#spacing: 60
[<frame>World (Simplified)|
[Entity] +-> * [<abstract>Component]
[Entity] * <- Processes [<abstract>BaseEntitySystem]
[Component] Exposes <-- [ComponentMapper]
[BaseEntitySystem] -:> extends [<abstract>BaseSystem]
]

http://www.nomnoml.com/#view/%23title%3A%20Simplified%20world%20%0A%23gutter%3A%2030%0A%23spacing%3

[2019-05-28 17:52] Mr00Anderson opened #582 "[Question] @PooledWeaver and PooledComponents"
Without adding any additional systems are components able to be pooled without using @PooledWeaver ; by extending PooledComponent?

Additionally is @PooledWeaver work with inheritance, I feel like it doesnt based on analyzing the bytecode and decompiled classes after the weaver?

[2019-05-28 18:20] junkdog commented on #582
Hmm, I guess it's beacause the IDE isn't applying the plugin. I honestly don't remember if this has always been the case, but I think not (I tend to only run the plugin on CI and from terminal). It should work when invoking maven/gradle manually.

The plugin prints a report upon running:
[code]

[2019-05-28 18:24] junkdog commented on #582
Yes, extending PooledComponent is enough. `@PooledWeaver` has the benefit of easily toggling between pooling and not pooling. It's usually the first thing I disable when something looks fishy as it's frequently a case of holding onto a component reference somewhere, forgetting to clean it up when the entity changes composition or is deleted.

[2019-05-28 18:37] Mr00Anderson commented on #582
Thank you, much appreciated. Like the pooled weaver, just need to write some custom resets is all. I will update the wiki with this information that `PooledComponent.class` can be used without the `@PooledWeaver`.

[2019-05-28 18:37] #582 closed

[2019-05-30 11:13] DaanVanYperen commented on #538
#title: Systems diagram
#gutter: 30
#spacing: 60
[<frame>World building|
   [MyGameLauncher] instances-> [World]
   [WorldConfiguration] configures-> [World]
   [WorldConfigurationBuild] Produces -> [WorldConfiguration]
]

![image](https://user-images.githubusercontent.com/6305602/58629394-b0139480-82dc-11e9-8384-971430da67b4.png)

[2019-05-30 11:42] DaanVanYperen commented on #538
https://www.websequencediagrams.com/

title World processing

MyGameLoop->World: process()
World->System 1: process()
System 1->System 1: begin()
System 1->System 1: process(entity)
System 1->System 1: end()
World->System ..: process()
World->System N: process()

![image](https://user-images.githubusercontent.com/6305602/58630734-9c6a2d00-82e0-11e9-8a26-5e70b991bc0f.png)

[2019-05-30 12:33] DaanVanYperen commented on #538
title Entity deletion lifecycle

loop
World->+System: process()
System->-System: delete(entity)
World->Subscription: update
Subscription->Subscription: forget entity
end
World->World: delete entity\n and components

![image](https://user-images.githubusercontent.com/6305602/58633143-e571af80-82e7-11e9-8fb2-3d2a72637a29.png)

[2019-05-30 12:54] DaanVanYperen commented on #538
Got to pick which ones we want to use and which ones to ignore. graphs for everything is a bit overkill.

title IteratingSystem lifecycle

![image](https://user-images.githubusercontent.com/6305602/58633672-6f6e4800-82e9-11e9-8551-6188d34a2ffa.png)

title World processing lifecycle

MyGameLoop->+World: process()
loop per system
World->System: process()
World->+Internal managers: process()
Internal

[2019-05-31 12:12] #581 closed

[2019-05-31 17:07] Mr00Anderson opened #583 "[FEATURE] Artifacts"
Putting this as a place holder. Do we just need a pipeline setup to run builds for nightly on changes? Would like to be able to use the most recent snapshot. Been having issues trying to build from sources in gradle.

[2019-05-31 17:14] DaanVanYperen commented on #583
Duplicate of #545

[2019-05-31 17:21] Mr00Anderson commented on #583
Ouch. Forgot due diligence on this one!

[2019-05-31 17:21] #583 closed

[2019-05-31 17:46] Mr00Anderson commented on #545
This would be useful. Will you require the nightly commit to build before merging or will the nightly possibly break?

What help can I provide here to help get this done?

[2019-05-31 19:16] DaanVanYperen commented on #545
It'll only release when tests pass. We use Travis for automated builds so shouldn't be too hard, except for maybe the authentication bit. Only @junkdog can release to repo so he has to set it up.

[2019-06-01 12:23] DaanVanYperen commented on #538
Chart describing the best to worst way to decouple systems

#gutter: 60
#spacing: 60
[<frame>Coupling between systems|

  [No dependency] better than -> [Utility class]
  [Utility class] better than -> [Singleton Component]
  [Utility class] -> [Event]
  [Singleton Component] better than -> [Utility/Managing System]
  [Event] better than -> [Utility/Managing System]
  [Utility/Managing System] Bet

[2019-06-09 13:36] junkdog commented on #576
Given:

[code]

and

[code]

the first test now passes:

[code]

[2019-06-18 20:48] junkdog commented on #576
deployed 0.1.0-SNAPSHOT to maven central :)

thinking a 0.1.0 release is best done once we've confirmed that all transplants work as intended.

[2019-06-18 21:04] junkdog commented on #570
I should have posted https://github.com/junkdog/artemis-odb/issues/576#issuecomment-503305890 here instead.

I'll begin replacing the existing ASM code in artemis in the coming days (away over midsummer though). It's pretty sparse on tests, so might be a bumpy ride, but my gut feeling is pretty optimistic.

[2019-06-18 21:41] DaanVanYperen commented on #570
That's one fine looking library! What we could do is if you line the ASM rewrite for 2.4.0, in the mean time I'll rewrite https://github.com/junkdog/artemis-odb/pull/575 with graft so we can get a release out for the peeps before summer vacation. Think there's a chunk of stuff ready for release https://github.com/junkdog/artemis-odb/blob/develop/CHANGELOG.md

[2019-06-18 22:03] junkdog commented on #570
Thank you! Very happy with how this turned out. Still some rough edges of course (better validation, both agent and maven plugin could use some extra configuration etc), but code is pretty clean/easy to extend.

Yeah, wise to delay the ASM rewrite for 2.4.0. We're not adding any functionality to that layer anyways, and like you said - the changelog is growing.

[2019-06-20 20:24] junkdog commented on #570
WIP on integration tests-as-recipes for the agent: figured they could be recycled on the wiki.

https://github.com/junkdog/graftt/tree/master/agent/src/it/agent-no-params/src

[2019-06-24 22:23] junkdog commented on #570
deployed latest graftt -SNAPSHOT + begun writing a more in-depth guide on the wiki

[2019-06-29 11:13] DaanVanYperen opened #585 "LibGDX 1.9.10"
New version live. Pending: https://github.com/libgdx/libgdx/pull/5690

[2019-06-30 14:52] junkdog commented on #576
Closing as [junkdog/graftt](graftt) is its own project

[2019-06-30 14:52] #576 closed

[2019-06-30 14:54] junkdog commented on #578
Do we want to do this for 2.3.0 or shall we move it to the subsequent release?

[2019-06-30 22:11] Speiger opened #586 "[IMPROVEMENT] Use of Primitive Stacks/Queues"
Hello,

I am working on game and was going to test on Artemis if it was something for my entity system.
But being me I am a person who has to understand everything I use so I am cloning it to make a custom version of it.

On the way I found a couple things that were odd to me.
- Bag allocating 64 entries by default.
- EntityTransmuter requiring a Builder for a single entry (just make a constructor

[2019-07-01 22:35] Speiger commented on #586
Ok after reading over things, This could work for tiny changes, the other option would be to iterate over the bitset instead of a list. This would make a performance improvement if the list changes per update logic
And even if it is a tiny bit slower compared to a list iterator, on a larger scale system with loads of changes it could improve the speed. (Assuming the set is single threaded)

[2019-07-02 14:20] junkdog commented on #586
Ah, good catch! Yeah, should probably be fixed (and update some call sites).

What is `fastEquals`?

Hmm, transmuters are rarely used for toggling a single component type - component mappers already wrap a transmuter for add/create/remove. What are your use-cases? Aspect.Builder is otherwise a simple `all(ComponentA.class)` vs `ComponentA.class`.

Pretty neat. I experimented a bit with similar ide

[2019-07-02 17:03] Speiger commented on #586
Other thing:
The class name "World" is really picked for the "EntityComponentSystem".
Because some could just use it for "Entities" in their "World.class" which would mean they would have to implement a wrapper just to use your ECS Library (Also a reason why I manually copy it)
My suggestion would be to either name the main class that you should use: "EntityComponentSystem" or "ECSWorld"
So you ha

[2019-07-03 10:27] junkdog commented on #586
Hmm, not sure it would make a measurable difference, but could be interesting to test next time when running the benchmarks. The bitsets are rarely compared by equality; only when transmuting to a new composition id or when a new composition id is allocated.

EntitySubscriptions are decoupled from the system, so there is no way to process the entity system at the same time as repopulating the IntB

[2019-07-03 18:50] Speiger commented on #586
Well it might be a tiny bit faster but will make barely any difference but since you already have functions that do exactly the same thing. Its more of a keep a consistency thing.

Yeah I am aware of that part but for me it seems weird if 2 systems use the same subscription and also same entities.
But my idea is to have a Acceptor in it that it just dumps into when requesting the entities. Since y

[2019-07-03 22:40] Speiger commented on #586
FYI I can rename the World myself. Its just me that wants to point that out ^^" So no worry there.

[2019-07-11 14:07] DaanVanYperen commented on #538
Missing something about @All, @One etc and subscriptions in the wiki.

[2019-07-11 15:53] junkdog commented on #538
The diagrams are pretty neat. We should maybe setup a module or script to automate compilation of updated diagrams.

[2019-07-11 18:02] junkdog commented on #431
This will be possible once graftt supports appending to the ctor.

[2019-07-11 18:08] junkdog commented on #545
Daily -SNAPSHOT deployment added in https://github.com/junkdog/artemis-odb/commit/f7539b2529c1a5f1de96986259b5b7e3a23806dd

(Sort of daily, I'll move my jenkins to the cloud sometime this or next month; for now it only runs when I'm not away somewhere)

[2019-07-11 18:08] #545 closed

[2019-07-21 19:27] #585 closed

[2019-07-26 14:48] Namek opened #587 "[Question] "System was disabled/enabled" event"
Hi folks! I'm working on the new Artemis Entity Tracker which job is to inspect whole `World` of entities but not do any changes to it. So, when observed game disables some system or manager I want to know about it and show it in GUI. AFAIK there is no such event. A way to achieve this is to implement custom `SystemInvocationStrategy` and provide it with custom `World` (because setter is `protecte

[2019-07-26 20:23] junkdog commented on #587
Hi there!

So, incidentally, #570 would require opening up multiple classes to be feasible - it also revolved around tooling, and as such would make use of _unusual access_ points in the API. I'd rather avoid opening up classes too much as it makes maintenance/future refactoring much more difficult.

As a workaround, [graftt](https://github.com/junkdog/graftt/) allows rewriting classes - based on

[2019-07-27 12:42] junkdog commented on #587
Another option is to wrap the `SystemInvocationStrategy` in your own SIC, delegate all invocations to the wrapped implementation.

[2019-07-27 16:59] Namek commented on #587
That's an interesting idea, thanks! For now I check thinks periodically, I'll be biting it if that's a perf problem.

It's basically over TCP, so the device doesn't matter. That was the goal - both PC and Android should be able to serve data for the UI client. I'll notify you (over Twitter?) when it's ready-ish for basic usage. May take up to few weeks. Thankfully, I'm unemployed for some time now

[2019-07-27 16:59] #587 closed

[2019-07-27 17:17] junkdog commented on #587
Cool!

[2019-08-12 19:25] IkeOTL opened #588 "[Question] Listening to Changes in Entity"
I'm using SubscriptionListener to listen for composition changes in entities. However, SubscriptionListener doesn't listen for change events.

For example:
[code]
SubscriptionListener  see this.
Later, at some point...

again
[code]
SubscriptionListener  does not see this.

How can I intercept the replacing of the old MotionComponent?

[2019-08-12 22:51] junkdog commented on #588
This doesn't fire unless you first remove MotionComponent + let the AspectSubscriptionManager run (happens in-between systems and around `World::process`).

artemis only triggers on changing compositionId:s. This is not the case when the sought component already exists, as it won't update the compositionId - as the cId only represent the set of component types for a given entity.

[2019-08-13 00:52] IkeOTL commented on #588
Yeah, I'm aware of that. But is there a way to listen to a change like this?

My current solution is to have a dirty flag in the component, and reprocess it when the system processes.

[2019-08-13 20:40] junkdog commented on #588
Not directly. From artemis' POV there is no change as no component was added/removed.

This is a pretty common approach. If you really want to trigger on composition changes, it is sometimes possible to achieve this using multiple component types, but it's really contextual whether this is a better than a dirty flag or not.

What's your use-case?

[2019-08-14 12:33] intrigus commented on #570
Hey, I'd love to try this to debug some issues I have.
But I can't get it running.
`compile "net.mostlyoriginal.artemis-odb:contrib-plugin-debug:2.5.0-SNAPSHOT"` doesn't work ("Could not resolve: net.mostlyoriginal.artemis-odb:contrib-plugin-debug:2.5.0-SNAPSHOT").
I cloned artemis-odb-contrib checked out the develop branch and did `mvn clean install` but this also fails.
With similar errors as tr

[2019-08-14 13:01] junkdog commented on #570
@intrigus Daan needs to merge/review https://github.com/DaanVanYperen/artemis-odb-contrib/pull/130 first - it should work if you `mvn install` from the `lifecycle-gratting` branch on [junkdog/artemis-odb-contrib](https://github.com/junkdog/artemis-odb-contrib/tree/lifecycle-graftting)

[2019-08-14 13:28] junkdog commented on #570
@intrigus `DebugPlugin.isArtemisTransformedForDebugging()` returns `true` if the lifecycle stuff is transplanted/setup.

[2019-08-14 13:34] intrigus commented on #570
I got it running with Java 8.
It doesn't work with Java 11:
[code]

[2019-08-14 20:08] junkdog commented on #570
Thanks. Pushed an untested fix, removing usage of SharedSecrets and the unused corba import.

[2019-08-20 21:03] a-ivanov opened #590 "[Question] Purpose of Bag#ensureCapacity(int)"
Underlying array grow behaviour is provided by such mutating methods as `Bag#safeGet(int)` `Bag#set(int, E)`, etc. Why do we need a separate method for capacity control? EntityManager and ComponentManager use the method exclusively and imho they don't need such functionality either, do they?

Thanks.

[2019-08-21 21:22] junkdog commented on #590
It's to avoid growing the array unnecessarily, which can be a problem if you're dealing with a lot of new entities, especially if the JIT hasn't optimized everything yet.

To safe a few cycles, artemis uses `unsafeSet` whenever we know it's a safe operation (currently the case for ComponentMappers and ComponentRemovers).

[code]

[2019-08-31 11:28] LaurenceWarne opened #591 "[BUG] inserted not called when entities added in system initialize"
<code>SubscriptionListener.inserted()</code> is not called if I create entities in the <code>initialize()</code> method of a system. This is the same problem highlighted in #248, but <code>EntityObserver</code> no longer exists. Is this intended and if so is there some kind of work around?

[2019-08-31 12:13] junkdog commented on #591
We'll have to take a look. Pretty sure I've done it in the past. Just to make sure; calling `World::process` does not trigger the subscription listener?

[2019-08-31 14:14] LaurenceWarne commented on #591
Ah yes! I had forgot to call that in my original test case.

What had caught me out initially is if you create an entity in a system's <code>initialize()</code> method and then add a subscription listener in a subsequently added system's <code>initialize()</code> then <code>inserted()</code> will not be called for that susbscription for the added entity.

I hacked together a test to demonstrate: <

[2019-10-13 12:56] DaanVanYperen opened #592 "request for release of 2.3.0"
@junkdog mind releasing 2.3.0? Good to make the GDX and GWT bump available to the public. I've fixed all the regressions in odb-contrib 2.3.0 and ready for release on that end.

#### Version: 2.3.0-SNAPSHOT

- **BREAKING CHANGES**
  - Web backend upgraded to GWT `2.8.2`.
  - Serialization modules that depend on libGDX now require `1.9.10`.
  - Make sure you clean your build when using Fluid entiti

[2019-10-13 13:06] DaanVanYperen commented on #570
I'm happy how graftt turned out on contrib. Thanks for that @junkdog! Travis build is passing. This ticket is pretty much done, just waiting for some snapshots to release and then we have a go!

[2019-10-13 13:06] #570 closed

[2019-10-13 13:08] DaanVanYperen commented on #467
Closing tickets from 2016.

[2019-10-13 13:08] #467 closed

[2019-10-13 13:09] #590 closed

[2019-10-13 13:10] DaanVanYperen commented on #588
Discussion has ended, closing. Feel free to reopen if needed.

[2019-10-13 13:10] #588 closed

[2019-10-13 13:18] DaanVanYperen opened #593 "[OPTIMIZE] Bag allocating 64 entries by default."
Decrease bag default allocation size to a more sensible default, and check at call sites.

See #586 for background.

[2019-10-13 13:34] DaanVanYperen commented on #586
Multi-topic tickets tend to be non-actionable so I've elevated the topics that we might pursue to separate tickets. Up to @junkdog if he wants to elevate more. Closing for now!

[2019-10-13 13:34] #586 closed

[2019-10-13 13:36] #580 closed

[2019-10-13 13:36] #591 closed

[2019-10-13 13:46] Speiger commented on #586
Yeah fine by me.

[2019-10-13 13:48] DaanVanYperen commented on #558
Closing as answered (TL;DR for future readers; use Prefabs, you can serialise part of the world state).

[2019-10-13 13:48] #558 closed

[2019-10-13 13:55] DaanVanYperen commented on #573
Question answered. Feel free to create a new ticket for any insights gained during this discussion! Closing.

[2019-10-13 13:55] #573 closed

[2019-10-13 14:04] DaanVanYperen commented on #538
Feel the documentation is in a pretty good place. Closing this for now.

[2019-10-13 14:04] #538 closed

[2019-10-13 14:05] DaanVanYperen commented on #579
Feel the documentation is in a pretty good place. Closing this for now.

[2019-10-13 14:05] #579 closed

[2019-10-14 22:57] junkdog commented on #592
I'm off on a trip; I'll do it during the weekend.

[2019-10-22 17:40] DaanVanYperen commented on #592
You didn't mention which weekend! 😭

[2019-10-31 07:19] schosin commented on #371
I'd be interested in this feature as well as contributing. My use case is exaclty the the given example.
Before I found this issue, my approach would have been to add the default components to all/one/exclude unless that component is already part of the given aspect.

Examples:
- default: `Aspect.exclude(Disabled.class)`
system: `Aspect.exclude(CompA.class)`
result: `Aspect.exclude({Disabled.class

[2019-11-03 17:22] DaanVanYperen commented on #592
o___________________________________________________________________________________________________________o

[2019-11-04 11:26] schosin commented on #371
I've been working on this on [my fork](/schosin/artemis-odb/tree/fix-371), and I had to touch more places than I anticipated.

Here's an overview what I've done:
- Default aspect is configured via WorldConfiguration(Builder), by default applied to all subscriptions
- Aspect.Builder
  - has a flag whether to apply defaults or not
  - has a couple of fields changed to package private for easier acce

[2019-11-04 11:27] schosin commented on #293
Wanna highlight #371, not sure if anyone gets any notifications for closed issues.

[2019-11-08 22:20] joaquinodz opened #594 "[BUG] Gradle 6.0 Deprecation error."
I've been reciving this deprecation error when i updated my gradle version to 6.0

[code]
And some useful links:
- https://docs.gradle.org/6.0/userguide/more_about_tasks.html

[2019-11-09 10:17] #592 closed

[2019-11-09 10:20] junkdog commented on #592
temporal race condition, but 2.3.0 is now released, during *a* weekend

[2019-11-09 21:56] DaanVanYperen commented on #592
:cookie: :cookie: :cookie: :cookie: :cookie:

[2019-11-09 22:04] junkdog commented on #592
*Munch-munch*

On Sat, Nov 9, 2019, 10:56 PM Daan van Yperen <notifications@github.com>
wrote:

[2019-11-10 15:40] junkdog commented on #371
Interesting. Sorry for taking too long to respond.

How much additional overhead are we talking about here? Does it show in the benchmarks?

[2019-11-10 19:11] schosin commented on #371
Haven't run any benchmarks, that statement was solely based on the fact that all the work is done when creating a EntitySubscription.
The biggest impact might be in BaseEntitySystem#getSubscription, as that method always computes the aspect instead of using the field when already initialized. Was there any reason for doing that?

[2019-11-14 08:19] JulyChen728 opened #595 "Some potential NullPointerException bugs"
Hi all,
Our bug scanner has reported some NPE bugs.

1.The first bug is at [IntBagIterator.java#L73](https://github.com/junkdog/artemis-odb/tree/artemis-odb-2.2.0/artemis-core/artemis/src/main/java/com/artemis/utils/IntBagIterator.java#L73) , since the parameter `intBag` is checked for whether being `null` or not at line [74](https://github.com/junkdog/artemis-odb/tree/artemis-odb-2.2.0/artemis-co

[2019-11-21 10:35] ITWOI commented on #595
Hi, we have reported the bugs a while ago would you please take a look and confirm if they are real bugs. We have been conducting an experiment to measure the accuracy of our static checker. We would be deeply appreciated if you can provide some feedback!

[2020-02-13 19:08] exuvo opened #597 "[OPTIMIZE] EntitySubscription informEntityChanges"
In EntitySubscription informEntityChanges and in turn transferBitsToInts is called even when there are no listeners. Seems unnecessary when i use some subscriptions just for getEntities. Or is my use case very uncommon?

In informEntityChanges
`
if (!extra.listeners.isEmpty()) {
  transferBitsToInts(extra.inserted, extra.removed);
  extra.informEntityChanges();
}
`

Or maybe inserted/remoevIds.cle

[2020-03-18 09:02] rhpenguins opened #598 "[Question] Why does WorldSerializationManager need to be registered as a system?"
In the wiki on serializing an world instance to JSON using libGDX, it gives this following example:
[code]
However, if the job of the manager is just to serialize the world when it is called, why does it need to be a base system? In the source code for it [https://github.com/junkdog/artemis-odb/blob/develop/artemis-serialization/artemis-serializer/src/main/java/com/artemis/managers/WorldSerializat

[2020-05-02 15:00] genaray opened #600 "[Question] Entity limit ?"
How many entities can exist in one artemis world ? Is there a limit ? Or someway to extend that limit ?

[2020-05-03 17:34] junkdog commented on #600
artemis is single-threaded, so you're effectively limited by how fast all systems are processed. It's hard to put a number to the max entity count as the majority of processing time won't be due to artemis; with simple or sparsely populates systems, entity count can naturally go higher than in more complex simulations.

[2020-05-04 06:46] hoijui opened #601 "[BUG] GitHub not accepting/identifying the LICENSE (as BSD-2-clause)"
(old, closed, but same issue: https://github.com/junkdog/artemis-odb/issues/464)

While GitHub detects [LICENSE](https://github.com/junkdog/artemis-odb/blob/develop/LICENSE) (BSD-2-clause) as the main LICENSE file, it apparently also sees [LICENSE.libgdx](https://github.com/junkdog/artemis-odb/blob/develop/LICENSE.libgdx) (APLv2), and thus it decides to not know what the license is; compare these

[2020-05-04 06:47] hoijui commented on #601
I don't know what the proper solution would be.. :/

[2020-05-04 06:50] hoijui commented on #601
GitHub recommends to have only one LICENSE file with one license in it, and talk about the other license related stuff (like licenses of dependencies or secondary licenses) in the README:

https://help.github.com/en/github/creating-cloning-and-archiving-repositories/licensing-a-repository#detecting-a-license

[2020-05-04 07:32] hoijui commented on #601
(side comment; quite unrelated)

maybe also put this in the README?

[![License](https://img.shields.io/badge/License-BSD%202--Clause-orange.svg)](https://opensource.org/licenses/BSD-2-Clause)

`[![License](https://img.shields.io/badge/License-BSD%202--Clause-orange.svg)](https://opensource.org/licenses/BSD-2-Clause)`

[2020-05-05 08:19] hoijui commented on #601
I found a related stack* question. the first two answers seem very good:
https://softwareengineering.stackexchange.com/questions/304874/declaring-multiple-licences-in-a-github-project/371526

[2020-05-05 13:32] junkdog commented on #601
thanks for the head's up and info! i'll fix it after work/sometime this week.

[2020-05-11 06:25] #600 closed, assigned to nobody

[2020-05-26 08:41] schosin opened #602 "Support java 14 (build tools)"
**Request**
Please upgrade ASM to the most recent version (8.0.1 as of writing) as well as using the newest Opcodes ASM8 to support java 14 with enabled preview features.

**Description**
After upgrading my project to java 14 I tried enabling the gradle weaving plugin and ran into issues with ASM.
After forking artemis-odb and upgrading ASM to 8.x (currently 8.0.1) I ran into issues with records,

[2020-05-26 09:42] junkdog commented on #602
And here I was feeling modern having recently upgraded to a java 11 runtime, after being stuck on android's java 8-ish for too long.

Please do! :)

[2020-05-26 11:36] schosin commented on #602
Luckily I don't care for mobile or GWT, so I'm free to live on the edge :)
Loving my switch expressions, instanceof pattern matching and records.

[2020-05-30 20:17] schosin opened #604 "[BUG] @PooledWeaver rewrites base class, breaking components at runtime"
Using `@PooledWeaver` rewrites the annotated components base class to `PooledComponent`.
This causes errors at runtime if the base class wasn't `Component`.

Weaver should ignore components not extending `Component` directly and just log a warn or mark it as "NOT_OPTIMIZABLE" similar to system optimization.

On a side note, would it be an option to use an interface for the pooling logic and have `

[2020-06-03 09:36] junkdog commented on #602
hrrm... I was temporally displaced by work and games - looking good! got to say i love the API stability of ASM :) sorry you had to see the code, it's overdue a clean-up (thinking [graftt](https://github.com/junkdog/graftt) could simplify the current spaghetti, but it's somewhat low prio :)

sorely missed in kotlin; would be neat if data classes could be destructured (?) and captured inside `when`

[2020-06-03 09:41] junkdog commented on #602
fixed in #603

[2020-06-03 09:41] #602 closed, assigned to nobody

[2020-06-03 16:16] schosin commented on #602
Destructors is something that's in the pipeline for a future release. Though I doubt they will be as powerful as scala pattern matching. Never used kotlin, but I guess you mean something like `case Positon(x, y) -> <do something with x/y>;` or `case Positon(x, y) pos -> <do something with pos/x/y>;` . That'd be part of [project amber](https://openjdk.java.net/projects/amber/).

Regarding records,

[2020-06-04 12:23] genaray opened #605 "[Question] Is there a limit for Systems ?"
Im using artemis odb for the serverside of my little mobile mmorpg... due to the complexity of the game we require tons of systems... We barely have the basics and already count about 20 systems.

We are aiming for a pure ECS approach featuring a high flexibility with less to no OOP.

Heres a list of our current systems... the world is processing at a tickrate of 13.3 ms ( 60 times per second )...

[2020-06-21 14:16] genaray opened #606 "[Question] Is artemis thread safe ?"
Im using Database-Operations in my game which kinda block the ecs flow... so i thought about letting those database systems run in a extra thread... this way the other systems arent forced to wait till the operations finished.

So is it possible to run a artemis system or certain lines in that system in a new thread ?

[2020-07-22 10:48] DaanVanYperen opened #607 "Upgrade to LibGDX release 1.9.11"
New minor version of LibGDX is available! Includes some small API changes.

- Upgrade artemis-odb to 1.9.11
- Upgrade artemis-odb-contrib to 1.9.11

[2020-07-22 11:06] DaanVanYperen commented on #606
Accessing elements of one ```World``` from multiple threads is not safe.

Asynchronous processes triggered from systems should be fine as long as you pass through the data you need and don't access the Artemis API from that thread. So no accessing subscriptions, systems, components(?), etc. It should be a fairly common use case (for things like pathfinding).

Maybe you can find some examples/help

[2020-07-22 12:03] DaanVanYperen commented on #605
Artemis should only take a fraction of your tick. I've had projects with 50+ systems and components without issues, You can check with https://github.com/DaanVanYperen/artemis-odb-contrib/wiki/Profiler-Plugin to see if any systems are eating your cycles.

I want to say no, but I've never gone hundreds of systems myself.

If you plan to target web (GWT) you might hit a roadblock with too many syste

[2020-07-31 03:15] choxsword opened #608 "[Question] how is the compent managed in memory?"
the reason ECS (entity component system) has great performance, like entitas in unity, is that components of same type are put in the same memory chunk, which make component iterating fast and efficient.

However, in java we cannot manage object memory location, so ecs seems to be not so useful as c++ in java language. Does this frameworkd handled this problem?

[2020-08-12 18:35] genaray opened #609 "[FEATURE] Job-System"
Unitys new ECS ( part of DOTS ) offers a intergration of Unitys Job-Systems ( https://docs.unity3d.com/Manual/JobSystem.html  ), a high performance multithreaded task execution mechanic... there actually multiple ECS out there offering this mechanic.

This feature is perfect for multithreading little isolated units of work that may execute heavy operations.
For example multiple little "Jobs" lifti

[2020-08-12 18:37] genaray commented on #608
Good question... thats something i wanna know too

[2020-08-19 16:58] genaray commented on #609
So i did some more work and created a pretty good job system for artemis in java :)

It features single jobs aswell as dependencys between multiple jobs... A newly created Job-Entity gets enlisted into the multithreaded environment as soon as possible :)

I also implemented a interface systems to schedule Jobs from different systems after another.
Great if all jobs from System B depend on the fini

[2020-08-19 17:10] genaray opened #610 "[FEATURE] Double buffering for easier multithreading ?"
So lets talk about double buffering... its an other little tool used by some ECS to make multithreading a lot easier.

Its "pretty" simple... you have two game states
- Previous
- Current

So right now say, your velocity integration system might look like...
`position[ID] += velocity[ID] * deltaTime`

Using double buffering it may look like this instead.
`newGameState.position[ID] = oldGameState.p

[2020-08-20 12:21] genaray commented on #609
So i continued my work on the JobSystem and noticed that i missed something.
The job system currently has a pretty broad usecase, you can do everything you want in that IJob interface... but if you really want to iterate over a set of entities in order to modify them on another thread, its probably too much boilerplate-code.

Since java does not support unlimited generics i came along this solutio

[2020-09-09 10:44] exuvo commented on #610
I have implemented "double buffering" in my game for multithreading reasons with some modifications to artemis-odb to speed it up and the performance cost is not too heavy as long as i use many small components instead of large ones.

I have one world that is always the live one. During system processing i mark component adds/changes/removals in BitVectors. To get good performance i do multiple pr

[2020-09-09 16:46] exuvo commented on #608
Memory layout wise the best we can do in java is allocate a lot of same type components at the same time and hope they get allocated close to each other. You can be pretty certain they will be stored in allocation order at least. Artemis supports pooling (reuse) of components so this works. But javas object overhead is always there even if they are stored consecutively so cache usage is always wor

[2020-09-15 15:09] genaray commented on #610
Thanks a lot for your answer ! Im gonna look at it once im home :) Great that some people are still active in here... i just hope that artemis ODB adds double buffering on their own in the future ^^

[2020-09-16 03:40] qwbarch opened #611 "[FEATURE] Add a WorldConfigurationBuilder#register to wire custom dependencies"
**WorldConfigurationBuilder** is missing a builder method for **WorldConfiguration#register**, which allows one to wire custom dependencies before the world is initialized.

[2020-09-16 07:01] qwbarch commented on #611
If this feature request is accepted, would it be okay if I do it?

[2020-09-16 18:23] genaray commented on #611
I support this approach ^

[2020-09-17 20:35] genaray opened #612 "[FEATURE] Buffers for entity creation, destruction, structural changes and value insertation."
Well its me again... yeah i know, but i recently used Unitys ECS and came across [CommandBufferSystems] (https://docs.unity3d.com/Packages/com.unity.entities@0.4/manual/entity_command_buffer.html).

Those are used to "buffer" the creation, destruction and composition of entities, great if you wanna create a bunch of entities at the start of the frame for example. Or if you have multiple threads wo

[2020-09-20 04:27] qwbarch commented on #611
Didn't realize this earlier but one could simply use:
[code]
I forgot **WorldConfigurationBuilder** returns a **WorldConfiguration**...

[2020-09-20 04:27] #611 closed, assigned to nobody

[2020-09-24 21:34] genaray opened #613 "[FEATURE] ReactiveSystem for runtime operations"
Here i am again... this time with a mechanic that is called "ReactiveSystem".
Well actually artemis ODB already has one : EntitySubscription-Listeners.

But one major issue i occured was the lack of runtime... sure callbacks are great ! But what if we wanna iterate with a normal system over those newly added/removed entities ? Or if we wanna run over all newly added/removed entities of a certain a

[2020-09-27 20:15] genaray opened #614 "[FEATURE] Iterate over many aspects with less boilerplate code ?"
Currently i strictly divide my code down into seperate systems.
At this moment i have nearly 40 Systems in my hierarchy, each one doing one task.
Of course not all of them are running each frame, out of 40 Systems, probably 3-4 are running each frame.
This targets mostly stuff like movement, network and ai.

![Screenshot_2](https://user-images.githubusercontent.com/20269164/94374493-e51c3b00-010c-

[2020-10-04 10:43] Aardvarklord opened #615 "[Question] How to best avoid processing deleted entities"
If I understand correctly entities deleted via world.delete(entityId) are only removed from the list of entities to be processed at the end of a system's process loop over all entities. This means that if I while processing entityA do world.delete(entityB) there will still be one call to system.process(entityB) during the ongoing world.process iteration.

Is there any convenient way of within a sy

[2020-10-04 12:53] genaray commented on #615
If i understood your question correctly... this is right. The real deletion of an entity is triggered after the system finished. Normally this shouldnt be a problem because your systems are running after each other. That means your next system in queue wont process the deleted entity. In case you still need to check if the entity is queued for deletion you could either check out...

`world.getEnti

[2020-10-04 13:03] Aardvarklord commented on #615
Thanks genaray, then I will implement some kind of tracking of deleted entities myself. My application is a game/simulation type application where I need to prevent an entity from performing its action if it was killed by a previously processed entity within the same system within the same world iteration. (isActive seems to return true also for deleted entities within the same system and world it

[2020-10-04 13:03] #615 closed, assigned to nobody

[2020-10-17 17:01] hoxu opened #619 "[Question] Component construction/initialization with parameters"
I'm trying to use [Monix Vars](https://monix.io/api/current/monix/reactive/subjects/Var.html) in Components instead of plain variables. For testing I need to be able to provide a different Scheduler, thus I need constructor parameters.

Even though [EntityEdit.add](https://junkdog.github.io/javadoc/artemis-odb/2.2.0/com/artemis/EntityEdit.html#add-com.artemis.Component-) looks like it allows const

[2020-10-25 19:39] genaray commented on #619
Had the same issue... make sure you always have a public constructor without any params. Than it should work well :)

[2020-11-24 09:16] GMassta opened #620 "[FEATURE] Primary constructor in Kotlin"
Im use last Artemis 2.3.0 and it not may get primary constructor from component. Class:
` class Renderable(val atlas: String, val name: String): Component()`
Return error: **missing public constructor**

[2020-11-25 18:44] bryanbrunt opened #621 "[Question] User interface: artemis and scene2d"
Has anyone used Artemis and the classes in libgdx scene2d?

Imagine an interface similar to the game Civilization. There's a central map, and the map is surrounded by various UI elements. Would it be possible to have artemis control the map, and scene2d for everything else (dialogs, other screens, etc)?

I like the power of artemis, but re-implementing GUI elements inside of artemis for something

[2020-11-28 20:18] schosin commented on #621
I've used Scene2d with singletons [1]. I basically have a singleton component holding my stage and skin, which is initialized by a ui system, that also calls act and draw in its processSystem.
After that I have systems for different parts of my UI such as for tooltips, ability bars or windows. They all inject the singleton and use it to get access to the stage. The advantage of managing those in a

[2020-11-28 21:02] bryanbrunt commented on #621
Nice! At least with a complex UI, this seems a preferable UI system to the Daan's methodology of re-creating scene2d objects.

Realistically, my UI skills are limited. I don't have the time or patience to re-implement a list view or tab control.

Could you share some of your code?

It might be nice to have an alternate artemis-odb-scene2d-quickstart that uses scene2d with your techniques. If you s

[2020-11-29 08:23] schosin commented on #621
I don't have a proper project I can share, but I created [this gist](https://gist.github.com/schosin/f936a1fc6f54dbe5131beb274338e2e0) with two examples:
- Display a list of units
- A simple tooltip system for non-scene2d entities

Greetings,
Ken

[2020-12-15 16:57] bryanbrunt opened #622 "[Question] How do you handle clicks on nothing?"
So I have the MouseClickSystem working. It handles Clickable.Class and Pos.Class.

However, I want to be able to handle mouse clicks that are not associated with any object. Yes, inside of MouseClickSystem, I can test to see if the cursor is not overlapping any Clickable entity, but that is potentially hundreds or thousands of entities. And it would consume processing for each mouse click.

A list

[2020-12-16 09:58] bryanbrunt commented on #622
I came up with a solution. Just set a boolean in the process method if no entities overlap, and then handle the condition in the end method.

[2020-12-16 09:58] #622 closed, assigned to nobody

[2020-12-28 22:12] bryanbrunt opened #623 "[Question] Why does JsonArtemisSerializer fail to serialize int and boolean primitives that are 0 and false?"
JsonArtemisSerializer just doesn't serialize int and boolean fields on components that are 0 and false.

Why?

The potentially counter argument against serializing these zero and false primitive fields is that when those fields de-serialize they will be set to zero and false anyway.

However, if you have a component like below with an int index = 0, then the serializer will not serialize the compo

[2020-12-29 12:30] junkdog commented on #623
Any default-valued primitive fields (and string fields) are omitted from the json as they're set to the default value automatically upon instantiating the component.

[code]

The saved json looks as follows:

[code]

Both entities point to the same archetype 9 (the archetype is the same as the compositionId), which contains the `InventoryPosition` component.

If you're processing the json in somet

[2020-12-30 22:39] bryanbrunt commented on #621
Thank you for those examples.

I've actually found that while at first intimidating, designing the user interface with the artemis RenderBatchingSystem is leaps and bounds easier than all the work I have done with scene2d.

Yes, you have to handle marshaling all of the primitive graphical elements yourself. But once you have conquered that hill, the flexibility of the graphical capabilities in art

[2020-12-31 17:06] bryanbrunt opened #624 "[Question] Is withTag very expensive? Example: E player = E.withTag("player");"
For example, you have a couple components that you reference frequently in your systems. Things like:

game
player
current location

I'm using E.withTag() to access those. However, I don't know how that's going to scale if I have thousands of components.

Is there an alternative?

I have found that there's possible bug with Singleton components. They don't deserialize. So I can't use singleton com

[2021-01-23 21:38] bryanbrunt opened #627 "[Question] Has anyone done a lighting system using RenderBatchingSystem from contrib?"
I'm creating day/night cycles for my game, which you can see here:

https://www.commonwombat.com/blog/

I'm using the RenderBatchingSystem from the contrib. But I'm struggling with how implement a system that works well with multiple light sources.

Has anyone implemented a lighting system using OrthogonalTiledMapRenderer with artemis?

[2021-02-22 17:13] pylvain opened #628 "[Question] Copy a component, or create it from Json"
Hello !
I want to allow an entity, its components, and their values to be described from a json file, with a specific syntax of my own.
Let's say I have the following basic component :
[code]
and the following json string :
[code]
I could not find in the documentation an obvious way to what this fictive function would do :
[code]
Of course I can use something like Gson to instantiate a Component f

[2021-02-24 01:21] genaray commented on #628
Well... its not possible in that way ^^ You actually can create entities from json, but in another way...
https://github.com/junkdog/artemis-odb/wiki/Prefabs

Another way im currently using is to use LibGdx to serialize/deserialize components. This way we can easily store a array of serialized components in an json file and then we load them, deseralize them and attach them to some entity.

[2021-02-25 04:10] bryanbrunt commented on #627
I eventually resolved this. I had to perform the alpha blending after the RenderingBatchSystem draws to the screen, not before. This isn't an Artemis core issue anyway, as RenderingBatch is contrib.

[2021-02-25 04:10] #627 closed, assigned to nobody

[2021-02-27 20:56] #628 closed, assigned to nobody

[2021-03-22 17:13] bryanbrunt opened #630 "Serialization of LinkedHashMap<Integer, Integer>"
Unserializing the following Component will result in a LinkedHashMap<String, Integer> instead of a LinkedHashMap<Integer, Integer>.

public class Skills extends Component {
    public LinkedHashMap<Integer, Integer> skills = new LinkedHashMap<Integer, Integer>();
}

[2021-06-22 10:07] Minecraftian14 opened #635 "[FEATURE] Allow us to remove Systems"
Context:
Okay, so there is this library runtime, which uses Ashley. I have been trying to translate the whole thing to Artemis ODB. The runtime manages the WorldConfigurationBuilder and World objects. It also adds in a lot of different IteratingSystem objects by itself.

But in some use cases, the user would prefer replacing one of those systems to gain better control over things. Unfortunately, n

[2021-06-22 12:20] genaray commented on #635
Hey there ! If i remember that correctly, we are able to disable systems pretty easily. Even during runtime.
Otherwhise you may extend the SystemInvocationStrategy to code your own way of invoking systems every tick. This way you could easily add some methods for replacing, adding or removing certain systems. That SystemInvocationStrategy then needs to be added to the used world.

[2021-06-23 08:28] Minecraftian14 commented on #635
Well there are a few "better" workarounds, like I can instead manage an Array for the systems which the user can modify, before creating the world. But yeah, so far as WorldConfigurationBuilder maybe, if it had an option to also remove the systems, it'll be better and neat.

[2021-06-23 08:28] #635 closed, assigned to nobody

[2021-06-24 04:11] Minecraftian14 commented on #635
I don't know if anyone reads closed comments.

Just wanted to share what we did finally.

In the end we realised that the array idea for systems plus any additional functionality (like plugins or injections which advanced users may want) will only cause the loader class to gain complexity beyond control. In fact it already has a 3 step Initialisation process.

Therefore we settled on introducing a

[2021-07-01 23:04] #624 closed, assigned to nobody

[2021-07-11 20:51] DaanVanYperen opened #636 "[FEATURE] Upgrade LibGDX to 1.9.14"
### Task
- [x] Evaluate if update of LibGDX dep is required to maintain forward compatibility.
- [x] Upgrade to 1.9.14 (in release 2.4.0)
- [ ] ~Upgrade to 1.10~

### Background

LibGDX has bumped up release frequency and has had a major (breaking) release. The team seems to be softening a bit on the maintenance-mode stance for LibGDX, so here's hoping for the future.

GWT backend got some love in

[2021-07-11 21:02] DaanVanYperen commented on #623
A workaround has been provided. Closing as answered.

[2021-07-11 21:02] #623 closed, assigned to nobody

[2021-07-11 21:10] DaanVanYperen commented on #630
Which serializer module are you using in your project?
Providing a small example project that shows the issue will help speed up the process.

[2021-07-11 21:12] #621 closed, assigned to nobody

[2021-07-11 21:17] DaanVanYperen commented on #619
Closing as answered.

[2021-07-11 21:17] #619 closed, assigned to nobody

[2021-07-11 23:19] DaanVanYperen commented on #614
The way we iterate definitely is verbose, but it is fast and avoids creating iterators or other objects.

I personally favor less boiler plate myself and wouldn't mind a plugin or extension that does what you suggest.  I'm not too familiar with the performance impact of lambda's on the GC, beyond them being singletons as long as you don't pull in state from the side.

A way to add this functionali

[2021-07-12 09:06] DaanVanYperen commented on #613
Cool! Do you have concrete examples of use?

As a feature request, this is fairly specialized and less core material (artemis-odb-contrib), unless there are extension points missing in artemis-odb.

Non-typical lifecycle behavior could be done by adding a 'Deleted' component to signifiydeletion, instead of calling .deleteFromWorld(), and adding an exclusion filter on spots you don't want affected

[2021-07-12 09:33] DaanVanYperen commented on #612
Man you are an idea machine. Appreciate the posts. I'm reading it in backwards order.

Do you have any usecases of ReactiveSystem? I'm looking for a reason why everyone should be using this (and it should be integrated in core instead of a plugin). It feels fairly specialized.

A command pattern might improve the design to preserve order of operations, otherwise you get strange behavior when someb

[2021-07-12 10:05] DaanVanYperen commented on #610
Implementing double buffering would be a major effort and such a fundamental change that it is unlikely to be implemented at this time.

Multithreading is something we'd like to solve, but @junkdog has said in the past that artemis-odb (for multiple reasons) will most likely never be multithreaded.

[2021-07-12 10:05] #610 closed, assigned to nobody

[2021-07-12 10:50] DaanVanYperen commented on #609
Most of the API is not thread safe (Like Bags and component mappers) so can't be safely called inside a job. You'd have to feed it copies of the data it needs during creation for example, and merge the job results synchronously with the world thread, during system processing.

Beyond that, makes a lot of sense having a mechanism to dispatch asynchronous jobs in a game, just wonder if it is out of

[2021-07-12 10:54] #608 closed, assigned to nobody

[2021-07-12 11:01] #607 closed, assigned to nobody

[2021-07-12 11:02] DaanVanYperen commented on #607
Replaced with new ticket.

[2021-07-12 11:02] #606 closed, assigned to nobody

[2021-07-12 11:03] #605 closed, assigned to nobody

[2021-07-12 11:22] DaanVanYperen commented on #598
Ah the early-corona days! Hope you are doing ok in 2021.

It needs to be injected into other systems, which is why it is implemented this way. You are correct it is a bit of a wrinkle in the design but for backwards compatibility we've left managers like this.

[2021-07-12 11:22] #598 closed, assigned to nobody

[2021-07-12 11:38] DaanVanYperen commented on #597
I think your use case is fairly common. Is the performance impact significant? Does the engine add any listeners perhaps?
If we implement this, cleaner to just push most of the ```informEntityChanges``` logic to SubscriptionExtra.

[2021-07-12 11:41] DaanVanYperen commented on #559
Closing old tickets.

[2021-07-12 11:41] #559 closed

[2021-07-12 11:42] DaanVanYperen commented on #537
Closing old tickets.

[2021-07-12 11:42] #537 closed

[2021-07-12 11:51] DaanVanYperen commented on #620
Did you manage to find a workaround?

[2021-07-12 14:42] exuvo commented on #597
From what i remember the performance impact was small. The engine did not add any own listeners. I was running thousands of ticks per second and was trying to squeeze more out so even small things counted.

I have since moved my game to c++ for the reduced memory usage which also affects performance greatly as the cache usage is much better.

[2021-07-12 14:54] exuvo commented on #610
From the changes i did for double buffering it is not a major code effort to implement but it is very bug prone if you somewhere forget to mark a component as changed. I could not alleviate it by always using setters as they never had references to the world being used so it was always up to me to remember to mark it as changed whenever i did anything with a component. I would put it on par with r

[2021-07-12 15:36] hoxu commented on #619
More like: component constructor parameters are not supported in artemis-odb.

[2021-07-13 14:15] DaanVanYperen commented on #593
I've changed a hotspot (aspect builder). Will not change the defaults after code review: this will probably just break things in user projects for very little gain.
The API provides constructors to specify initial capacity so a workaround is available.

[2021-07-13 14:15] #593 closed

[2021-07-13 15:29] DaanVanYperen commented on #595
Bit late but thanks for the ticket! Static checker is tripping over some bits that could probably be refactored for clarity but wouldn't provide much value to our users. I've fixed the things that are actual bugs.

Fixed

2.The second bug is caused by the return null in method allComponents() . A possible call chain is AspectFieldResolver.java#L55 . And a NPE bug may take place in method add() sin

[2021-07-13 15:29] #595 closed, assigned to DaanVanYperen

[2021-07-13 16:13] DaanVanYperen commented on #604
:cookie: @schosin

Went the fail fast route (RuntimeException during weaving) as it is incorrect use of the annotation..

The problem here is the sort of instance fields "so that RW operations are type aligned".

I've fixed the breakage. @junkdog can take a look at the RW optimization for arrays, it is beyond me.  Have not tested if pooled objects with arrays cause issues elsewhere.

[2021-07-13 16:13] #604 closed, assigned to DaanVanYperen

[2021-07-13 20:43] DaanVanYperen commented on #594
:cookie:

[2021-07-13 20:43] #594 closed

[2021-07-13 20:45] DaanVanYperen commented on #574
Delaying this one release for when we have more breaking changes (gdx 1.10 etc).

[2021-07-13 20:48] DaanVanYperen opened #637 "[FEATURE] Upgrade to LibGDX 1.10"
2.5.0 will have more breaking changes, and planning to release a maintenance release first that's on gdx 1.9.x.

[2021-07-13 20:49] #636 closed, assigned to DaanVanYperen

[2021-07-13 21:16] DaanVanYperen commented on #578
Documented in the wiki page for Gradle and added more exclusions to the plugin defaults.

[2021-07-13 21:16] #578 closed

[2021-07-13 21:46] DaanVanYperen opened #638 "Upgrade CI to Github Actions"

[2021-07-13 21:46] #638 closed, assigned to DaanVanYperen

[2021-07-13 22:57] DaanVanYperen opened #639 "Consider moving to Apache 2.0 license"
Since we have snippets of the reflection code users the Apache 2.0 license already applies. Apache 2.0 is basically BSD but slightly more restrictive and libGDX users are already familiar with Apache 2.0 so it might make sense to switch to a single license for clarity sake. What do you think @junkdog? (cc: @hoijui)

IANAL, would suspect it is ok to drop the original license since it follows the sa

[2021-07-13 22:57] DaanVanYperen commented on #601
Thanks @hoijui! :cookie:
That was an absolute pain to fix but it works.

[2021-07-13 22:57] #601 closed, assigned to DaanVanYperen

[2021-07-13 23:42] DaanVanYperen commented on #630
Hi @bryanbrunt! Unfortunately this would be a bit of a pickle to fix.
Luckily there is a **workaround** available, us LibGDX IntMap (or Kryo backend),

Reproduced in both artemis and libgdx json backends.  Key type is not stored in Json which effectively makes it a String. To fix it should be coerced on read: https://github.com/libgdx/libgdx/blob/f27c5685262c3ee55fa9c0267e73de021e6d4b93/gdx/src/co

[2021-07-13 23:44] DaanVanYperen commented on #630
Closing this as Will Not Fix as there is a workaround available and the fix is expensive.

[2021-07-13 23:44] #630 closed, assigned to DaanVanYperen

[2021-07-14 13:42] DaanVanYperen opened #640 "[BUG] @EntityId pulling transient data into serialization"
Copied from Gitter. Not verified.

Marcus Lagerström @ghroot Apr 01 13:25
Is there a concept of transient entities built in somehow? I've tried introducing a Transient component and using it to exclude on it when serializing the world, but any fields with @EntityId referencing a "transient entity" will end up pulling it into the serialization process.

[2021-07-15 11:16] DaanVanYperen opened #641 "[FEATURE] Double up GWT reflection cache const cap."
Increases reflection 65535 constant cap by spreading reflection between two classes.

- [ ] Update reflection to include recent changes in libGDX. It looks more performant.
- [ ] Merge https://github.com/libgdx/libgdx/pull/6386 and see how it survives our test suite.

[2021-07-15 12:54] DaanVanYperen commented on #641
I wonder if we can't just delegate to GDX reflection if we detect GDX on classpath.

[2021-07-17 18:12] bryanbrunt opened #643 "TransientProperties on Components [FEATURE]"
I have been assigning controller classes to my Components like this:

    public Object npcController;

These controller classes separate the game logic from the Components which are purely data.

Is there anyway with artemis to not serialize these Objects without writing a custom serializer?

It seems like Artemis should have a @Transient tag that applies to just properties of Components.

[2021-07-18 13:04] DaanVanYperen commented on #643
Are you sure `@Transient` doesn't work on fields? Glancing over the Json code it does check for it.

Alternatively, there is a pattern used for non-serialized state that you want to populate after loading: https://github.com/junkdog/artemis-odb/wiki/Model-for-Serialization

[2021-07-19 05:38] bryanbrunt commented on #643
@Transient
    public Object controller;

There is a compile error when using the Transient tag inside of a class.

error: annotation type not applicable to this kind of declaration
    @Transient

[2021-07-19 12:36] DaanVanYperen commented on #643
The `@Transient` I'm thinking of is `javax.persistence.Transient` which doesn't apply in odb, oops.

Try the java modifier. `public transient Object controller;`

[2021-07-19 12:44] DaanVanYperen commented on #643
Added wiki page. Thanks for the question.
https://github.com/junkdog/artemis-odb/wiki/How-to-avoid-serializing-specific-components-or-fields

[2021-07-19 15:40] bryanbrunt commented on #643
Nice! I was about to ask where this is documented.

[2021-07-19 15:52] bryanbrunt commented on #643
Daan, it would be great if you could put a load and save game system into one of your games.

As far as I know, there is no simple existing example for Artemis ODB in the entire universe.

On the libgdx discord, I like to point people to your games, but there's nothing on loading and saving games to point people to.

[2021-07-20 10:32] DaanVanYperen opened #644 "Release 2.4.0"
Maintenance release is ready. Waiting for @junkdog to push to repo (currently on vacation).

https://github.com/junkdog/artemis-odb/releases

quick draft:
tag: artemis-odb-2.4.0
title: artemis-odb-2.4.0

#### Version: 2.4.0-SNAPSHOT

- **BREAKING CHANGES**
  - Serialization modules that depend on libGDX now require `1.9.14`.

- @PooledWeaver now aborts when used outside Component class hierarchy.

[2021-07-21 12:31] DaanVanYperen opened #645 "[Performance] Reflection cache prevents GWT dead code elimination"
#### Summary
Optimized GWT removes dead code. The reflection cache contains call sites for all methods on all included types and this prevents dead code elimination for those types, leading to larger js files.

#### Details
A proof on my last game with method callsites suppressed from the **odb** cache only (see file size):
![image](https://user-images.githubusercontent.com/6305602/126485601-da1d4

[2021-07-21 12:47] DaanVanYperen commented on #643
I'll see if I can fit it in somewhere.

[2021-07-21 12:47] #643 closed, assigned to nobody

[2021-08-04 06:11] hoijui commented on #639
I would like that move!
I did a tiny research, and found that it should be possible quite easily (legally speaking); see this example from OpenCV:
https://opencv.org/opencv-is-to-change-the-license-to-apache-2/

They were using BSD-3-clause, you are using BSD-2-clause, which makes matters only easier, not harder for you.
The key-"trick", I think, is what they describe in the short article above li

[2021-09-30 12:45] genaray commented on #613
Well i actually use those systems quite heavy. I often mark my entities ( Composition > Inheritance ) with components to signalize certain entity specific events. Thats where my reactive systems come in quite nicely.

Its just an alternative to the inserted and removed callbacks for components which allows us to iterate over them for those who prefer a nice flow. It should be better for multithrea

[2021-09-30 12:52] genaray commented on #609
Thats actually something i need to rework, jobs shouldnt be entities. I think im gonna implement this in the typical unity style where its much easier to deploy jobs.

The thread safety is a real problem, creating copies would cause too much garbage. Unity solves this with sync points, for example a system can spawn in multiple jobs, but need to finish before the system ends. This way we could spe

[2021-10-01 14:15] genaray opened #646 "[FEATURE] Multithreading, Jobs & Parallelisation"
Actually i dont know if it makes sense to post this here... i get the feeling that artemis is quite dead and the only contribuer left is @DaanVanYperen

We all know that artemis is not thread safe and therefore provides no feature which allows us to use it in an multithreaded environment.

But multithreading & jobs are actually quite important for games. Especially when you use artemis for an mult

[2021-10-01 14:41] genaray opened #647 "[FEATURE] Migrate to pure ECS"
Artemis should make use of the full ecs approach. This way we could save a lot of memory and increase the performance.
Currently the `EntityManager` still holds a list of "Entity"'s. So every single created entity allocs a new entity object which is a waste of resources. Especially if the user dont want that.

My two cents, we should replace the `Bag<Entity>` with a traditional `IntBag` to store t

[2021-10-02 20:00] mudlee commented on #644
Is this repo stalling?

[2021-10-09 13:28] DaanVanYperen commented on #646
Contribution is more sporadic than I'd like, sure. @junkdog considers artemis-odb to be largely feature complete. We're effectively in maintenance mode.

Generic multithreading is probably not going to happen given the effort required. Since any multithreading solution is so use-case specific your best bet is to ask for suggestions on the LibGDX discord ECS channel.

Some related tickets:
https://

[2021-10-09 13:46] DaanVanYperen commented on #647
For desktop users the impact would probably be minimal, except for extreme use-cases. Can't say if it's worth it to fix for other platforms.

There's a couple of managers that still lean on entities also. https://github.com/junkdog/artemis-odb/issues/456

We PoC-ed this in 2017 (see PR https://github.com/junkdog/artemis-odb/pull/499), might contain some salvageable ideas if anyone decides to fork.

[2021-10-17 15:56] spencerflem opened #648 "[FEATURE] Allow Multiple OR Conditions in Aspects"
In general, Aspects are very restrictive in the logic they specify. It's not possible to, for example, ask for systems that have

One of {
   ComponentA,
   ComponentB
} and also One of {
  ComponentC
  ComponentD
}

This would be handy for me, since I have several equivalent components. For example, if the component has either a BoxBody or a Pos component I would be able to figure out its positio

[2021-11-25 11:56] tomcashman commented on #644
@junkdog any update on release?

[2021-12-11 07:05] fgnm commented on #644
Is this still a thing? @junkdog @DaanVanYperen mostly because without #642 Artemis is almost unusable in a serious HTML5 project due to small reflection cache

[2021-12-19 20:48] fgnm opened #649 "[BUG] Injection with Java Generics produce a `MundaneWireException` only in GWT"
Hello, I use artemis with libGDX and GWT, I've noticed that a `MundaneWireException` is raised when the game run with GWT and there's a structure that uses generics like this example:

[code]
[code]
[code]
[code]

The exception is raised when I do something like:
[code]
The issue only happens in GWT but works on any other platforms. Using the same structure, but without generics, works also on GWT

[2021-12-24 16:48] cypai opened #650 "[BUG] Randomly get MundaneWireException while doing injection"
I seem to be getting MundaneWireException randomly while injecting a custom class. The stack trace:
[code]

The offending code (truncated a bit):
[code]

[2022-01-11 23:38] bryanbrunt opened #651 "[Question] Systematic Error Handling ?"
What approaches does everyone use for handling errors?

Do you simply wrap the code in each system's process functions to catch exceptions?

protected void process(int e) {
       try {
            return lang.get(resource);
        } catch (Exception ex) {
            ex.printStackTrace();
            return null;
        }
}

As a potential feature request: what if you could define some type of

[2022-04-21 03:06] cpbeto opened #652 "[FEATURE] Provide annotation-compatible constructors in IntervalSystem"
I propose both `IntervalSystem` and `IntervalIteratingSystem` provide a constructor that takes only the parameter `float interval`.

For example:

[code]

I think this would make it more idiomatic to write extended systems, which use annotations for entity subscriptions. For example:

[code]

... instead of calling `super(null, interval)`.

Cheers :+1:

[2022-04-27 04:57] xhaimxd opened #653 "[Question] is the fluid plugin not support for gradle 7?"
I just startup a project in jdk 17 and gradle 7.3.3.
when i tried to compile project, it shows:
[code]
i found some games on github and try to compile them, all works. but those gradle version are low. just want to know it is my fault or it not support for gradle 7?

[2022-04-28 02:03] xhaimxd commented on #653
update:
I had copied the plugin's source code, and modified code from @Input to @OutputDirectory and @InputFiles on generatedDirectory and classpath. it worked but, it throwed some ClassNotFoundException like JsonSerializer or ServletContext. I found it scanned all dependencies which i implemented. How to solved it?

[2022-05-13 06:54] BambooBandit opened #654 "[PERFORMANCE] [BUG] @EntityId Annotation creates a lot of garbage over time"
I noticed that after adding the @EntityId annotation to this component class
[code]
my game started to generate a lot of garbage, inducing a GC once per minute.
![javaw_eJ4kH8oCSl](https://user-images.githubusercontent.com/22551980/168227741-6a32dcac-3a4d-4f4b-98c1-79974c28916a.png)

When I removed the annotation, the GC's dropped down to occuring .13 times per minute
![javaw_7AquySKgaN](https://u

[2022-05-20 20:22] bryanbrunt opened #655 "[BUG] Null check needed in EntityProcessingSystem"
I have found that a crash will sometimes occur without a null check in processSystem.

The code should be the following:

for (int i = 0, s = entities.size(); s > i; i++) {
            if (array[i] != null)
                process((Entity) array[i]);
        }

public abstract class EntityProcessingSystem extends EntitySystem {

    /**
     * Creates a new EntityProcessingSystem.
     * @param as

[2022-06-29 06:46] pylvain opened #656 "[Question] Using UuidEntityManager"
Hi,

Looking at the wiki and the javadoc, I can't figure out how to use UuidEntityManager.
[The wiki page on UuidManager ](https://github.com/junkdog/artemis-odb/wiki/UuidEntityManager)seems to be outdated ( I can't find the function setManager on the javadoc)

Thank you for your attention.

[2022-06-29 14:20] pylvain commented on #656
Using `with()` solved my problem

[code]

[2022-06-29 14:20] #656 closed, assigned to nobody

[2022-11-03 02:52] aluminais commented on #653
I have the same problem